<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>juegosmemoria.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>29480B0E1C61888200EB799F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29480B241C61888300EB799F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29480B2F1C61888300EB799F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
